*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    background: #b26ec7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 40px;
    font-weight: 600;
    color: black;
    
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    list-style: none;
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: #ffa089;
}

/* intro home section styling*/
.home {
    display: flex;
    background: url("images/mypic.png") no-repeat center;
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
    color: black;
    min-height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
}
.home .home-content .text-hello {
    font-size: 25px;
}
.home .home-content .text-name {
    font-size: 70px;
    font-weight: 600;
    margin-left: -2px;
}
.home .home-content .text-intro {
    font-size: 35px;
    margin: 5px 0;
}
.home .home-content .text-intro span {
    color: #ffa089;
    font-weight: 500;
}

/* about me section styling */
section {
    padding: 100px 0;
}
.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .left {
    width: 45%;
}

.about .about-content .left .img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about .about-content .right {
    width: 45%;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p {
    text-align: justify;
}

/* my work section styling */
.work {
    background: #b26ec7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.work .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.work .work-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work .work-content .card .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.work .work-content .card {
    width: calc(33% - 20px);
}

/* my contact info section styling */
.contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact .contact-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight:600;
    font-size: 25px;
}


/* media query  */
@media (max-width: 1300px) {
    .max-width {
        margin-left: 0px;
    }

}
@media (max-width: 1104px) {
    .about .about-content .left .img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 5px 0;
        font-size: 18px;
        margin-left: 5px;
        list-style: none;
    }
    .home .home-content .text-intro {
        font-size: 70px;
    }
    .home .home-content .text-name {
        font-size: 35px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-intro {
        font-size: 60px;
    }
    .home .home-content .text-name {
        font-size: 32px;
    }
}

@media (max-width: 500px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-intro {
        font-size: 50px;
    }
    .home .home-content .text-name {
        font-size: 27px;
    }
}

img {  
  width: 200px;
  height: 200px;
  border: 8px solid black;
}